.Main {
  text-align: center;
  background-color:black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

.Container {
  background-color:black;
  height: 100vh;
  width: 90vw;
  position: fixed;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0%;

}

.Box1 {
  height: 10vh;
  width: 10vh;
  background-color: red;
  margin: 0;
  border: 0;
  display: flex;
}

.Box1:hover{
  color: #fdec6e;
  box-shadow: 0px 0px 5px white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}




